@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --fonte-padrao: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}

h3
{
  font-family: var(--fonte-padrao);
}

#menu
{
    background-image: url("https://media.discordapp.net/attachments/879778847371976785/1067876788497297418/img3.jpg?width=1071&height=602");
    background-position: right center;
    background-size: cover;
    font-family: Quicksand;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    height: 60vh;
    width: 100%;
}

#menu img
{
  width: 50px;
  height: 50px;
}

#menu nav
{
  margin-top: 20px;
  margin-right: 10vw;
  float: right;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#menu nav a
{
  text-decoration: none;
  color: #ffffff;
}

#menu nav a:hover
{
  text-decoration: underline;
  transition-duration: 1s;
}

main
{
    background-color: #ffffff;
}

.item {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  background-color: #D9D9D9;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.274);
}

.item-img img
{
  width: 100%;
  height: 250px;
  padding: 10px;
}

.item-text
{
  padding: 10px;
  font-family: var(--fonte-padrao);
}

.item-rating
{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

#container-formulario
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.wrapper {
  height: 450px;
  width: 700px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: #ffffff00;
}

.button-wrapper img
{
  width: 20px;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  min-width: 300px;
  height: 400px;
  margin-right: 1rem;
  display: inline-block;
}

#container-formulario
{
  width: 100%;
  height: 40vh;
  background-color: #ffffff;
  font-family: var(--fonte-padrao);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  background-color: #D9D9D9;
  border: none;
  color: #443D3D;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  width: 300px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #443D3D;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #D9D9D9;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #443D3d;
}

#container-text
{
  color: #ffffff;
  background-color: #DA7C25;
  width: 100%;
  height: 30vh;
  font-family: var(--fonte-padrao);
  font: 400;
  display: flex;
  align-items: center;
}

#container-text p
{
  text-align: justify;
  width: 200px;
  margin-left: 30px;
}

footer
{
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
  height: 30vh;
  gap: 20px;
}

footer img
{
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.button {
  padding: 20px 30px;
  border-radius: 30px;
  border: 5px solid #ffffff;
  background-color: #DA7C25;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
  font-weight: bolder;
  animation: none;
  transition: all .5s ease-in-out;
  font-family: var(--fonte-padrao);
  display: inline;
  margin-left: 130px;
 }

 .button a
 {
  text-decoration: none;
  color: #fff;
 }
 
 .button:hover {
  border-radius: 30px 30px 0px 30px;
  box-shadow: inset 0px 30px 10px -25px black;
  transition: all .5s ease-in-out;
  animation: bounce42 1.6s infinite;
 }
 
 @keyframes bounce42 {
  0%, 20%, 50%, 80%, 100% {
   transform: translateY(0);
  }
 
  40% {
   transform: translateY(-5px);
  }
 
  60% {
   transform: translateY(-5px);
  }
 } 

#footer-link
{
  font-family: var(--fonte-padrao);
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#footer-link a
{
  color: black;
  text-decoration: none;
}

#h4
{
  background-color: #d9d9d9;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-family: var(--fonte-padrao);
}

.right
{
  text-align: right;
}